
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 100;
  transition: ease .3s;
}

.overlay-50 {
  width: 100%;
  height: 50%;
  transform: translate(0, 100%);
  background-image: linear-gradient(to top, rgba(0,0,0,.5),transparent);
}

.photo-container {
  position: relative;
  width: auto;
  height: 300px;
  margin: 2.5px 2.5px;
}

.overlay:hover {
  opacity: 1;
}

.details-title, .details-username {
  font-family: helvetica neue;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.details-title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: green;
}

.details-username {
  width: auto;
  color: rgb(186, 186, 186);
  font-weight: 200;
  font-size: 11px;
  letter-spacing: 1px;
  transition: ease .3s;
  background-color: yellow;
}

.details-username:hover {
  color: white;
}

.details-comments {
  color: white;
  width: auto;
  margin-right: 10px;
}

.details-comment-count {
  margin-right: 5px;
  font-size: 12px;
  font-family: Helvetica Neue;
}
.flex-col-end-1{
  height: 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transform: translate(0, -50%);
}

.testtt {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  justify-content: space-between;
}

.flexer {
  display: flex;
  align-items: center;
  // align-content: center;
  // justify-content: center;
}
