
.home {
  background-color: F3F5F6;
}
.index-flex-left {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}


.photo-index {
  background-color: #F3F5F6;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.index-flex-center-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3F5F6;
}

.index-flex-center-row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.options-tabs-font-style {
  font-family: helvetica neue;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #404040;
  padding: 0px 25px;
}

.options-font-style {
  font-family: helvetica;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #202023;
}

.options-bar-container {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #DCDCDC;
}

.options-bar {
  width: 1400px;
  height: 60px;
}

.option-tab {
  width: auto;
  height: 60px;
  transition: ease .5s;
  border-bottom: 1px solid #DCDCDC;
}

.option-tab:hover {
  box-shadow: inset 0px -3px 0px 0px #128fdc;
}

.option-tab-index, .option-tab-explore {
  width: auto;
  height: 60px;
  transition: ease .5s;
  border-bottom: 1px solid #DCDCDC;
  box-shadow: inset 0px -3px 0px 0px #128fdc;
}

.index-page-header-container {
  width: 100%;
  height: 50px;
  padding-top: 20px;
}

.index-page-header {
  width: 70%;
  min-width: 500px;
}

.index-ul-container {
  width: 1400px;
  margin-bottom: 60px;
}

.gallery-size {
  width: 70%;
  min-width: 500px;
  margin-bottom: 50px;
  
}
.index-li-flex {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.image {
  max-height: 300px;
  width: auto;
  padding: 0;
}

@media (max-width: 1200px) {
  .index-ul-container {
    width: 900px;
  }

  .index-page-header {
    width: 900px
  }
}
