.album-show-container {
  font-family: helvetica neue;
  width: 100%;
  height: auto;
  background-color: #F3F5F6;
}

.album-back-bar {
  width: 900px;
  height: 60px;
}

.album-head {
  position: relative;
  width: auto;
  height: 300px;
  margin-bottom: 5px;
  color: white;
}

.show-back-to-albs {
  color: rgb(40, 40, 40);
  margin-left: 10px;
  text-decoration: none;
}

.index-ul-container-1{
  width: 900px;
  height: auto;
  margin-bottom: 60px;
}

.test {
  width: 100%;
  height: auto;
  margin-top: 120px;
}
.album-name {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 45px;
  // background-color: red;
}

.album-description {
  font-size: 20px;
  padding-bottom: 80px;
  font-weight: 200;
  letter-spacing: 1px;
}

.album-length {
  font-size: 16px;
  // padding-right: 30px;
  padding-bottom: 10px;
  font-weight: 200;
  letter-spacing: 1px;
}

.album-show-image {
  max-height: 200px;
}

.album-head-image {
  object-fit:cover;
  width: 900px;
  height: 300px;
  padding: 0;
}

.album-head-details-description {
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 11px;
  letter-spacing: 1px;
  transition: ease .3s;
}

.album-head-overlay-50 {
  width: 100%;
  height: 100%;
  // transform: translate(0, 100%);
  border-radius: 3px;
  background-image: linear-gradient(to top, rgba(0,0,0,1),transparent);
}

.album-head-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transition: ease .3s;
}

//head overlay

.album-show-index-item-container {
  border-radius: 3px;
  position: relative;
  width: auto;
  height: 200px;
  margin-left: 2.5px;
  margin-bottom: 2.5px;
}

.album-show-flex-col-end{
  height: 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transform: translate(0, -50%);
}

.album-show-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: ease .3s;
}

.album-show-overlay-50 {
  width: 100%;
  height: 50%;
  transform: translate(0, 100%);
  background-image: linear-gradient(to top, rgba(0,0,0,.5),transparent);
}

.album-show-overlay:hover {
  opacity: 1;
}

