

.album-options-container {
  background-color:#F3F5F6;
}
.album-options {
  font-family: helvetica neue;
  font-size: 16px;
  width: 790px;
  height: 60px;
  color: #128fdc;
}

.create-new-alb-button{
  outline: none;
  transition: ease .3s;
  color: #737b80;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  border: 1px solid #737b80;
  cursor:pointer;
  transition: ease .3s;
}

// .create-new-alb-button:hover {
//   background-color: rgb(255, 255, 255);  
// }

.create-new-alb-button:active {
  background-color: rgb(237, 237, 237);
}