

.album-options-container {
  background-color:#F3F5F6;
}
.album-options {
  font-family: helvetica neue;
  font-size: 16px;
  width: 790px;
  height: 60px;
  color: #128fdc;
}

.create-new-alb-button{
  outline: none;
  transition: ease .3s;
  color: #737b80;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  border: 1px solid #737b80;
  transition: ease .3s;
  cursor:pointer;
}

.create-new-alb-button:active {
  background-color: rgb(237, 237, 237);
}

.option-tab-album {
  width: auto;
  height: 60px;
  transition: ease .5s;
  box-shadow: inset 0px -3px 0px 0px #128fdc;
  border-bottom: 1px solid #DCDCDC;
}