.log-in-bg, .sign-up-bg, .splash-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -1;
}

.log-in-bg {
  background-image: url("https://images.unsplash.com/photo-1462842349122-2982a4d79c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
}

.sign-up-bg {
  background-image: url("https://images.unsplash.com/photo-1499346146792-b008e446261f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.splash-bg {
  background-image: url("https://images.unsplash.com/photo-1484782777011-fb19ad5d8d3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}