.display-block {
  display: block;
}
.display-none {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal-container-wrap {
  width: 1000px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.modal-container {
  height: 600px;
  width: 300px;
}

.modal-content{
  background-color: gray;
  width: 100%;
  height: 100%;
}

.fa-times {
  position: absolute;
  transform: translate(175px, -125px);
  font-size: 22px;
  font-weight: 100;
  color: rgb(210, 210, 210);
  cursor: pointer;
}

.create-album-text-container {
  width: 300px;
  font-family: helvetica neue;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
  // background-color: blue;
}

.create-album-text {
  color: rgb(96, 96, 96);
  margin-bottom: 15px;
}

.create-album-form-input, .create-album-form-textarea{
  height: 20px;
  font-size: 14px;
  width: 280px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #F2F5F6;
  box-shadow: inset 0 0 0 1px rgb(205, 205, 205);
}

.create-album-form-input:focus, .create-album-form-textarea:focus{
  border: none;
  box-shadow: inset 0 0 0 1px #008FDA;
}

.create-album-form-input {
  margin-bottom: 10px;
}
.create-album-form-textarea {
  font-size: 14px;
  height: 100px;
  resize: none;
  background-color: white;
  padding: 8px 10px;
  line-height: 20px;
  margin-bottom: 10px;
}
.create-album-form-button {
  padding: 8px 124px;
  border-radius: 3px;
}

.modal-container {
  // background-color: purple;
  height: 600px;
  width: 300px;
  // outline: 1px solid black;
}

.vertical-line {
  height: 600px;
  margin: 0px 25px;
  border-left: 1.5px solid rgb(205, 205, 205);;
}

.modal-photo-index {
  width: 600px;
  height: 600px;
  // background-color: orange;
}

.album-modal-image {
  max-height: 100px;
  width: auto;
  padding: 0;
}

.modal-index-item{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.test1 {
  max-height: 100px;
  width: auto;
  padding: 0;
}

.album-modal-index-item-container {
  position: relative;
  width: auto;
  height: 100px;
  margin: 2.5px 2.5px;
}