.display-block {
  display: block;
}
.display-none {
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal-container {
  width: 420px;
  height: 320px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.modal-content{
  background-color: gray;
  width: 100%;
  height: 100%;
}

.fa-times {
  position: absolute;
  transform: translate(175px, -125px);
  font-size: 22px;
  font-weight: 100;
  color: rgb(210, 210, 210);
  cursor: pointer;
}

.create-album-text-container {
  width: 100%;
  font-family: helvetica neue;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.create-album-text {
  color: rgb(96, 96, 96);
  margin-left: 30px;
  margin-bottom: 15px;
}

.create-album-form-input, .create-album-form-textarea{
  height: 20px;
  font-size: 14px;
  width: 340px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #F2F5F6;
  box-shadow: inset 0 0 0 1px rgb(205, 205, 205);
}

.create-album-form-input:focus, .create-album-form-textarea:focus{
  border: none;
  box-shadow: inset 0 0 0 1px #008FDA;
}

.create-album-form-input {
  margin-bottom: 10px;
}
.create-album-form-textarea {
  font-size: 14px;
  height: 50px;
  resize: none;
  background-color: white;
  padding: 8px 10px;
  line-height: 20px;
  margin-bottom: 10px;
}
.create-album-form-button {
  padding: 8px 154px;
  border-radius: 3px;
}

.create-album-form {
  // background-color: blue;
}