.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: #979797;
  background-color: #000000;
  font-family: helvetica neue;
  font-size: 12px;
}

.footer-spread {
  width: 80%;
  display: flex;
  justify-content: center;
}

.footer-text {
  margin-left: 20px;
  font-size: 25px;
  transition: ease .3s;
  cursor: pointer;
  color: #979797;
}

.footer-text:hover {
  color: white;
}

.footer-container {
  width: 100%;
  background-color: #F3F5F6;
}