
.footer-wrap {
  position: relative;
  overflow: hidden;
  bottom: 0;
  display: block;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #979797;
  background-color: #000000;
  font-family: helvetica neue;
  font-size: 12px;
}

.footer-spread {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}