.loader-style {
  color: rgb(145, 145, 145);
}

.loader-margin {
  margin-bottom: 50px;
}
.load-more-button {
  padding: 18px 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #128fdc;
  outline: none;
}
.load-more-button:hover {
  background-color: #1397E8;  
  cursor: pointer;
}

.load-more-button:active {
  background-color: x#0E76B4;
}

.user-show-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}