//photo show css
.show-container {
  width: 100%;
  background-color:#F3F5F6;
  font-family: helvetica neue;
}

@media (max-width: 1200px) {

}
.show-col-container {
  display: flex;
  justify-content: center;
  background-color: #202023;
  height: 700px;
  width: 100%;
}

.show-left-col {
  display: block;
  width: 75px;
}

.show-mid-col {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show-back-to-ex {
  color: white;
  position: absolute;
  top: 90px;
  left: 0px;
  margin-left: 30px;
  text-decoration: none;
}

.fa-arrow-left {
  font-weight: light;
}

.show-back-text {
  margin-left: 10px;
}

.show-image {
  display: block;
  height: 80%;
  margin: 0px 0px;
}


.show-right-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75px;
  // background-color: purple;
}

.show-tool-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  // background-color: blue;
  
}
.tool-button {
  margin: 8px;
  color: rgb(79, 79, 79);
  font-size: 25px;
  transition: ease .3s;
}

.tool-button:hover {
  color: white;
}


.flex-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.photo-details-container {
  height: 50vh;
  width: 100%;
  margin-top: 30px;
}

.photo-details-wrap {
  position: relative;
  height: 200px;
  width: 400px;
  background: #F3F5F6;
  margin-top: 20px;
}

.photo-details{
  // background-clor: blue;
}

.display-username {
  font-size: 22px;
  font-weight: 500;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  transition: ease .2s;
}

.display-username:hover {
  color: #1397E8;
}

.follow-custom {
  padding: 8px 15px;
}

hr {
  // height: 1px;
  border: 0;
  border-top: 1px solid;
  color: rgb(220, 220, 220);
  // border-color: rgb(235, 235, 235);
}
