
.image {
  max-height: 300px;
  width: auto;
  margin: 0;
  padding: 0;
}


ul {
  padding: 0;
  margin: 0;
}

.tester {
  display: flex;
  justify-content: center;
  align-content: center;
}

.test-center{
  display: flex;
  justify-content: center;
  align-content: center;
}

.row {
  // display: flex;
  // height: 300px;
  // width: 1344px;
}

