
.image {
  max-height: 300px;
  width: auto;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.tester {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  // background-color: purple;
}

.test-center{
  width: 1400px;
  // background-color: green;
}

.replace-later {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  // align-items: center;
}


