.center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.splash-content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-text {
  font-size: 60px;
  margin-bottom: 60px;
}
.sub-text {
  font-size: 20px;
  margin-bottom: 50px;
}

.main-text, .sub-text {
  font-family: helvetica neue;
  color: white;
  letter-spacing: 1px;
}

.splash-demo-button {
  font-family: helvetica neue;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  font-size: 20x;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: ease .3s;
  margin: 0px 8px;
  cursor: pointer;
}

.splash-demo-button:active {
  background-color: #ECECEC;
  transition: ease .2s;
}

.splash-demo-button:hover {
  box-shadow: 0px 0px 20px -2px white;
}
